<!DOCTYPE html>
<html lang="en" ng-app="CRM" ng-controller="MainController">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="src/style.css" rel="stylesheet">
  <script src="bower_components/angular/angular.min.js"></script>
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header pull-left">
        <a class="navbar-brand" href="#">CRM</a>
      </div>
      <div class="navbar-header pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid" ng-cloak role="main">
    <div class="row">
      <!-- Dashboard & Thumbnails -->
      <div class="col-md-8 col-sm-8 col-xs-12" id="dashboard">
        <div class="thumbnail col-md-4 col-sm-6" ng-repeat="user in users | filter: search track by $index">
          <img ng-if="user.photo" src="{{user.photo}}" height="200px" width="300px" alt="photo">
          <img ng-if="!user.photo" src="http://placehold.it/300x200" height="200px" width="300px" alt="photo">
          <div class="caption">
            <h3 class="name">{{user.name}}</h3>
            <p class="small"><strong>{{user.phone}}</strong></p>
            <p>{{user.position}}</p>
            <p class="description">{{user.description}}</p>
            <div class="btn-group pull-right">
              <button type="submit" ng-click="edit(user)" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
              <button type="submit" ng-click="remove(user)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar & Form -->
      <div class="col-md-4 col-sm-4 col-xs-12" id="sidebar">
        <form name="userForm" novalidate>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" ng-model="new.name" ng-required="true" id="name">
          </div>
          <div class="form-group">
            <label for="image">Photo URL:</label>
            <input type="text" class="form-control" name="image" ng-model="new.photo" id="image">
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" name="phone" ng-model="new.phone" ng-required="true" ng-pattern="/^[9|6|7][0-9]{8}$/"
              id="phone">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea rows="5" class="form-control" name="description" ng-model="new.description" ng-required="true" id="description"></textarea>
          </div>
          <div class="form-group">
            <label for="position">Position:</label><br>
            <select class="form-control" name="position" ng-model="new.position" ng-required="true" id="position">
              <option>Front End</option>
              <option>Back End</option>
              <option>Full Stack</option>
            </select>
          </div>
          <div class="btn-group pull-right">
            <button type="submit" ng-if="editing" ng-disabled="userForm.$invalid" ng-click="modify(new)" class="btn btn-warning btn-lg">Modify</button>
            <button type="submit" ng-if="!editing" ng-disabled="userForm.$invalid" ng-click="create(new)" class="btn btn-success btn-lg">Submit</button>
            <button type="submit" ng-click="reset()" class="btn btn-danger btn-lg">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="src/main.js"></script>
</body>

</html>